@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;600;700&family=Inter:wght@400;500;700&family=Krona+One&family=Lavishly+Yours&family=Montserrat&family=Neucha&family=Oswald:wght@200;400;500;700&family=Playfair+Display&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Roboto:wght@100;300;400;900&display=swap');

@font-face{
  font-family: "AntrySans, sans-serif";
  src: url(./fonts/AntrySans_PERSONAL_USE_ONLY.otf);
}
::-webkit-scrollbar {
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: black;
}
